.category{
    list-style: none;
    padding: 20px 0;
    display: inline-flex;
    width: 100%;
    gap: 24px;
    flex-wrap: wrap;
    .card{
        a{
            text-decoration: none;
            color: #9d9d9d;
            font-size: 14px;
            height: 100%;
            display: flex;
            flex-direction: column;
        }
        width: calc(25% - 18px);
        padding: 24px 20px;
        cursor: pointer;
        text-align: center;
        border: 1px solid #afb5be;
        border-radius: 8px;
        transition: box-shadow .35s ease, transform .35s ease;
        &:hover{
            border-color: rgb(31 41 55);
            box-shadow: 2px 2px 8px rgb(0 0 0 / 30%);
            transform: translateY(-5px);
           
        }
   
        .product-image{
            width: 100%;
            height: auto;
            max-height: 300px;
            object-fit: contain;
        }
        .product-name{
            color: rgb(107 108 111);
            font-weight: 700;
            padding: 18px 0 0;
            font-size: 22px;
            text-transform: capitalize;
            margin-top: auto;
        }
    }
}
@media (max-width: 992px) {
    .category {
        .card {
            width: calc((100% / 2) - 12px);
        }
    }
}
@media (max-width: 600px) {
    .category {
        gap: 12px;
        .card {
            padding: 10px 8px;
            width: calc(50% - 6px);
            border-radius: 6px;
            border-width: 0.5px;
            .product-image {
                max-height: 142px;
            }
            .product-name{
                padding: 10px 0 0;
                font-size: 16px;
                font-family: 'barlow', sans-serif;
            }
        }
    }
}